body {
    margin: 0;
    height: 100vh;
    background: #232323;
}

#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    height: 85vh;
    border: 3px solid #d1d1d1;
}